
.idea/.idea.EventSourcing1/.idea/.name
.idea/.idea.EventSourcing1/.idea/contentModel.xml
.idea/.idea.EventSourcing1/.idea/encodings.xml
.idea/.idea.EventSourcing1/.idea/indexLayout.xml
.idea/.idea.EventSourcing1/.idea/modules.xml
.idea/.idea.EventSourcing1/.idea/projectSettingsUpdater.xml
.idea/.idea.EventSourcing1/.idea/vcs.xml
.idea/.idea.EventSourcing1/riderModule.iml
EventSourcing1/obj/Debug/netcoreapp2.2/EventSourcing1.assets.cache
EventSourcing1/obj/EventSourcing1.csproj.nuget.cache
EventSourcing1/obj/EventSourcing1.csproj.nuget.dgspec.json
EventSourcing1/obj/EventSourcing1.csproj.nuget.g.props
EventSourcing1/obj/project.assets.json
EventSourcing1/obj/project.packagespec.json
EventSourcing1/obj/Debug/netcoreapp2.2/EventSourcing1.assets.cache
EventSourcing1/obj/EventSourcing1.csproj.nuget.cache
EventSourcing1/obj/EventSourcing1.csproj.nuget.dgspec.json
EventSourcing1/obj/EventSourcing1.csproj.nuget.g.props
EventSourcing1/obj/project.assets.json
EventSourcing1/obj/project.packagespec.json
